.thrdbody{
    height: 90vh;
    width: 100%;
    background-color: #bdd0e7;
}


.Classes-head{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 3vh;
    height: 10vh;
    width: 100%;
    font-size: 4.6vmin;
    font-weight: 700;
    font-family: 'Merienda', cursive;
}


#container {
	width: 75%;
	overflow: hidden;
	margin: 4vmax auto;
	/* background: white; */
    padding-top: 2vh;
    padding-bottom: 2vh;
    background: rgb(205, 221, 229);
    border-radius: 15px;
    transition: 300ms ease-in-out;
    border-top: 3px solid rgb(35, 49, 56);
    border-bottom: 3px solid rgb(35, 49, 56);
}
#container:hover{
    box-shadow: 0 0 40px #818a95;
    /* background-color: transparent; */
}
/*photobanner*/
.photobanner {
	height: 24vh;
	width: 135%;
    overflow: hidden;
	/* margin-bottom: 80px; */
    /* margin-top: 3vmax; */
}
.photobanner img {
  display: inline-block;
  height: inherit;
  width: 35vh;
  margin-bottom: 2vh;
  /* border: 1px solid rgb(26, 31, 33); */
}
/*keyframe animations*/
.first {
	animation: bannermove 13s infinite alternate ;
}
 
@keyframes bannermove {
 0% {
    margin-left: 0px;
 }
 100% {
    margin-left: -530px;
 }
}


.Classtext{
    position: relative;
    height: 40vh;
    top: 1vh;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 4vh;
    font-weight: 500;
    font-size: 2.5vh;
}
.yogapose{
    position: relative;
    top: 2vh;
    height: 6vh;
    
}


@media (max-width:370px){
    
    .Classes-head{
        top: 1.5vh;
    }
    .photobanner{
        height: 20vh;
        width: 170%;
    }
    .photobanner img{
        width: 28vh;
        border-left: 1px solid rgb(26, 31, 33);
    }
    #container{
        width: 100%;
        border-radius: 0%;
        box-shadow: 0 0 40px #96a1ae;
    }
    .Classtext{
        top: 2.5vh;
        line-height: 3.2vh;
        font-size: 1.85vh;
        font-weight: 400;
    }
    
}