.thrdbody{
    height: 80vh;
    width: 100%;
    background-color: #bdd0e7;
}
.secsection{
    position: relative;
    display: flex;
    top: 10vh;
    /* background-color: rgb(199, 213, 227); */
    height: 60vh;
    width: 90%;
    margin-left: 10vh;
    /* margin-right: 10vh; */
}
.secimg{
    position: relative;
    background-color: aliceblue;
    height: inherit;
    width: 45vmax;
    left: 10vh;
}
.imgtext2{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: inherit;
    font-size: 3vmin;
    /* left: 10vh; */
    width: 45%;
    
}
@media (max-width:370px){
    
    .secsection{
        flex-direction: column-reverse;
        margin-left: 5vh;
        width: 90%;
    }
    .secimg{
        width: 90%;
        left: 0%;
    }
    .imgtext2{
        width: 90%;
    }
}