@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Hindi&display=swap'); */
.Navbody{
  height: 9vh;
  width: 100%;
  position: absolute;
  z-index: 200;
  
}

.NameH{
  display: inline-flex;
  font-size: 3.55vh;
  font-weight: 600;
  font-family: 'Merienda', cursive;
  /* font-style: normal; */
  margin-left: 5vh;
  letter-spacing: -1px;
  margin-top: 2.2vh;
  border: none;
  color: aliceblue;
  cursor: pointer;
  background-color: transparent;
}


.About{
  float: right;
  font-size: 3.25vh;
  color: aliceblue;
  font-weight: 600;
  margin-left: 3vh;
  margin-top: 3vh;
  font-family: 'Rubik', sans-serif;
  cursor: pointer;
  transition: 200ms ease-in-out;
}
.About:hover{
  color: rgb(186, 213, 232);
}
.Contact{
  float: right;
  font-size: 3.25vh;
  font-weight: 600;
  color: aliceblue;
  margin-right: 4.5vh;
  margin-left: 5vh;
  margin-top: 3vh;
  font-family: 'Rubik', sans-serif;
  cursor: pointer;
  transition: 200ms ease-in-out;
}
.Contact:hover{
  color: rgb(186, 213, 232);
}
.dropbutt{
  color: aliceblue;
  display: none;
}
.dropbutt:checked{
  color: rgb(186, 213, 232);
}
.dropdown{
  position: relative;
  display: none;
  top: 7vh;
  float: right;
  width: 14vh;
  background-color: rgb(105, 159, 190);
  border-radius: 13px;
  border-top-right-radius: 0%;
  box-shadow: 4px 4px 15px rgb(0,0,0,0.25);
  border-top: 1.6px rgb(204, 219, 233) solid;
  border-right: 1.6px solid rgb(204, 219, 233);
  /* border: 2px solid black; */
}

ul{
  position: relative;
  right: 4.5vh;
}
li{
  font-size: 2.9vh;
  font-weight: 500;
  list-style: none;
  line-height: 5.7vh;
  color: rgb(18, 32, 43);
  /* color: aliceblue; */
  /* text-decoration: underline 2px rgb(88, 117, 150); */
  text-underline-offset: 2px;
  cursor: pointer;
}

@media (max-width:370px){
  .NameH{
    margin-left: 3vh;
    margin-top: 2.1vh;
    font-size: 3vh;
  }
  .About{
     display: none;
  }
  .Contact{
    display: none;
  }
  .dropbutt{
    display: inline-flex;
    float: right;
    margin-top: 3vh;
    margin-right: 4vh;
    font-size: 3vh;
  }
  .dropdown{
    display: flex;
  }
}