@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Hindi&display=swap'); */
.Navbody{
  height: 9vh;
  width: 100%;
  position: absolute;
  z-index: 200;
  
}

.NameH{
  display: inline-flex;
  font-size: 3.55vh;
  font-weight: 600;
  font-family: 'Merienda', cursive;
  /* font-style: normal; */
  margin-left: 5vh;
  letter-spacing: -1px;
  margin-top: 2.2vh;
  border: none;
  color: aliceblue;
  cursor: pointer;
  background-color: transparent;
}

.About{
  float: right;
  font-size: 3.25vh;
  color: aliceblue;
  font-weight: 600;
  margin-left: 3vh;
  margin-top: 3vh;
  font-family: 'Rubik', sans-serif;
  cursor: pointer;
}
.About:hover{
  color: rgb(186, 213, 232);
}
.Contact{
  float: right;
  font-size: 3.25vh;
  font-weight: 600;
  color: aliceblue;
  margin-right: 4.5vh;
  margin-left: 5vh;
  margin-top: 3vh;
  font-family: 'Rubik', sans-serif;
  cursor: pointer;
}
.Contact:hover{
  color: rgb(186, 213, 232);
}
.dropbutt{
  color: aliceblue;
  display: none;
}
.dropbutt:focus{
  color: rgb(186, 213, 232);
}
@media (max-width:370px){
  .NameH{
    margin-left: 3vh;
    margin-top: 2.1vh;
    font-size: 3vh;
  }
  .About{
     display: none;
  }
  .Contact{
    display: none;
  }
  .dropbutt{
    display: inline-flex;
    float: right;
    margin-top: 3vh;
    margin-right: 4vh;
    font-size: 3vh;
  }
}