.secbody{
    height: 100vh;
    width: 100%;
    /* background: linear-gradient(0deg, rgb(246, 233, 206) 0%, rgb(222, 222, 226) 100%); */
    background-color: rgb(86, 151, 198);
}
.omimg{
    display: flex;
    position: fixed;
    filter: brightness(130%);
    mix-blend-mode:color-burn;
    top: 8vh;
    /* left: 45vh;
    height: 85vmin;
    width: 55vmax; */
    left: 69vh;
    height: 65vh;

}
.Tagline-box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10vh;
    height: 10vh;
    width: 100%;
}
.Tagline{
    position: relative;
    font-size: 4.5vmin;
    font-weight: 700;
    font-family: 'Merienda', cursive;
}
@media (max-width:370px){
    .omimg{
        left: -14.5vh;
        top: 5vh;
        height: 80vh;
    }
}